/* index.css */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --gray-color: #F2F2F2;
    width: calc(100vw -15px);
    max-width: 640px; /* 最大幅を640pxに制限 */
    margin: 0 auto; /* 中央揃え */
    padding-bottom: env(safe-area-inset-bottom);
}

#root {
    width: 100%; /* rootも全幅を使用し、上記の最大幅に従う */
}

.grecaptcha-badge {
    visibility: hidden !important;
}

.safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}